# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* List popular languages for Data Science
* Data Science Tools
* arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Java
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. PyTorch

| Data Science Tools |
| ------- |
| Scikit-learn |
| Seaborn |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [30]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [32]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Diallo Queen